doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Submit Archery Scores')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    meta(name='keywords', content='archery, score, form, google doc, google sheet')
    meta(name='author', content='Jacob Lynch')
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/demo.css')
    link(rel='stylesheet', href='/stylesheets/component.css')
    script(src='/javascripts/modernizr.custom.js')
    script(src='/javascripts/classie.js')
    script(src='/javascripts/stepsForm.js')
  body
    block content
