extends layout

block content
    div.container
        div.fs-title
            h1 Scoring
        section
            form.simform#myform(autocomplete='off', action='score', method='post')
                div.simform-inner
                    ol.questions
                        li
                            span: label(for='score') Score?
                            input#score(name='score', type='number', placeholder='45', required='true')

                    button.submit(type='submit') Send answers
                    div.controls
                        button.next
                        <div class="progress"></div>
                        span.number
                            <span class="number-current"></span>
                            <span class="number-total"></span>
                        <span class="error-message"></span>
        div.fs-title
            h3.stats Stats
        script.
            (function () {
                new stepsForm(document.getElementById('myform'), {
                    onSubmit: function (form, errCb) {
                        form.submit();
                    }
                });

                document.querySelector('h3.stats').addEventListener('click', function() {
                    window.location = '/score/stats';
                });
            })();